@charset "utf-8";

/*----------------------------------------------------------------------------*/
/* Mobile Layout: 480px and below. */
/*----------------------------------------------------------------------------*/

/*All*/
html {
    overflow-y: scroll;
}
body {
	background-color: #d8d8d8;
	color: #323232;
	font-family: Verdana, Geneva, sans-serif;
}
img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}
#header h1 {
	font: italic bolder 24pt Verdana, Geneva, sans-serif;
	letter-spacing: -1.5px;
	padding: 5px 0px 0px 0px;
}
#header h1 a {
	text-decoration: none;
	color: #323232;
}
#subheader {
	width: 75%;
	margin-left: 25%;
}
#subheader h2 {
	font: italic lighter 12pt Verdana, Geneva, sans-serif;
	margin-top: -20px;
}
#nav {
	margin: 0 auto;
	text-align: center;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#nav li {
	display: inline;
}
#nav li a {
	text-decoration: none;
	color: #323232;
}
#nav li a:hover {
	color: #737373;
}
#nav li a:active {
	color: #ed5614;
}
#icon {
	margin: 0 auto;
	text-align: right;
	padding-top: 15px;
}
#icon ul {
	list-style-type: none;
	display: inline;
	list-style-position: inside;
}
#icon ul li {
	list-style-type: none;
	display: inline;
	list-style-position: inside;
}
#icon a img {
	padding-left: 5px;
	width: 15%;
}
#foooter {
	padding-top: 25px;
	text-align: right;
	font: normal normal 10pt Verdana, Geneva, sans-serif;
}

/*Index*/
#video_wrapper {
	padding-top: 25px;
	font-size: 10px;
	display: inline;
}
#video_wrapper a {
	color: #323232;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	border: 2px solid #323232;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#video_wrapper a:hover {
	color: #737373;
	border: 2px solid #737373;
}
#video_wrapper a:active {
	color: #ed5614;
	border: 2px solid #ed5614;
}
#video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 5px;
}
#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#breakdown a {
	color: #323232;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border: 2px solid #323232;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#breakdown a:hover {
	color: #737373;
	border: 2px solid #737373;
}
#breakdown a:active {
	border: 2px solid #ed5614;
}

#breakdown_element{
	padding-top: 25px;
	display: inline-block;
	vertical-align: top;
}

#breakdown_element img{
	width: 25%;
	padding-right: 15px;
	display: inline;
	text-align: left;
	float: left;
}

#breakdown_element h3,h4,p{
	display: block;
	margin: 0;
}

#breakdown_element h3{
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}

#breakdown_element h4{
	font-size: 	10pt;
	padding-left: 30%;
}

#breakdown_element p{
	font-size: 8pt;
}

/*Resume*/
#resumeWrapper {
	width: 100%;
	margin: 0 auto;
	float: none;
	padding: 10px 0px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid #000000;
}
#resume {
	width: 95%;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	float: none;
}
#resume a {
	font-weight: bold;
	text-decoration: none;
	color: #323232;
	padding: 2px 2px 2px 2px;
	border: 2px solid #323232;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#resume a:hover {
	color: #737373;
	border: 2px solid #737373;
}
#resume a:active {
	color: #ed5614;
	border: 2px solid #ed5614;
}
#resumeHeader {
	text-align: center;
}
#resumeTable {
	width: 100%;
	margin: 0 auto;
	float: none;
	padding-bottom: 25px;
}
#resumeTable table {
	width: 100%;
	border: 0px;
}
#resumeEduTable {
	padding-left: 10px;
}

/*Contact*/
#contact {
	font: normal normal 12pt Verdana, Geneva, sans-serif;
	text-align: center;
}
#contact h2 {
	font: normal normal 12pt Verdana, Geneva, sans-serif;
}
#contact a {
	font-weight: bold;
	color: #323232;
}
#contact a:hover {
	color: #737373;
}
#contact a:active {
	color: #ed5614;
}

/*----------------------------------------------------------------------------*/
/* Tablet Layout: 481px to 768px. Inherits all above */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 481px) {
	/*All*/
	.gridContainer {
		width: 89.9%;
		padding-left: 1.55%;
		padding-right: 1.55%;
		clear: none;
		float: none;
		margin-left: auto;
	}
	.hide_tablet {
		display: none;
	}
	.zeroMargin_tablet {
		margin-left: 0;
	}
	#header {
		width: 100%;
	}
	#header h1 {
		font: italic bolder 36pt Verdana, Geneva, sans-serif;
		letter-spacing: -1.5px;
		padding: 12px 0px 0px 0px;
	}
	#subheader {
		width: 65.5172%;
		margin-left: 34.4827%;
	}
	#subheader h2 {
		font: italic lighter 16pt Verdana, Geneva, sans-serif;
		margin-top: -30px;
	}
	#nav {
		width: 82.7586%;
		text-align: right;
		float: right;
		font-size: 16pt;
		padding-top: 8px;
	}
	#icon a img{
		width: 10%;
	}
	/*Index*/
	#video_wrapper {
		font-size: 12px;
	}
	#video {
		margin-bottom: 10px;
	}
	#breakdown_element h3{
		font-size: 14pt;
		font-style: italic;
		font-weight: bold;
	}
	#breakdown_element h4{
		font-size: 	12pt;
	}
	#breakdown_element p{
		font-size: 10pt;
	}

	/*Resume*/
	#resumeWrapper{
		padding: 25px 0px;
	}

	/*Contact*/
	#contact {
		text-align: left;
	}
	#contact h2 {
		font: normal normal 14pt Verdana, Geneva, sans-serif;
	}
}

/*----------------------------------------------------------------------------*/
/* Desktop Layout: 769px to a max of 1232px.  Inherits all above */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 769px) {
	/*All*/
	.gridContainer {
		width: 87.75%;
		max-width: 1232px;
		padding-left: 1.125%;
		padding-right: 1.125%;
		margin: auto;
		clear: none;
		float: none;
		margin-left: auto;
	}
	.zeroMargin_desktop {
	margin-left: 0;
	}
	.hide_desktop {
	display: none;
	}
	#header {
		width: 48.7179%;
	}
	#header h1 {
		font: italic bolder 40pt Verdana, Geneva, sans-serif;
		letter-spacing: -1.5px;
		padding: 17px 0px 0px 0px;
	}
	#subheader {
		width: 48.7179%;
		margin-left: 25.641%;
	}
	#subheader h2 {
		font: italic lighter 20pt Verdana, Geneva, sans-serif;
		margin-top: -40px;
	}
	#nav {
		width: 100%;
		font-size: 20pt;
		padding-right: 5%;
	}
	#icon a img{
		width: 60px;
	}

	/*Index*/
	#video_wrapper {
		font-size: 15px;
	}
	#video {
		margin-bottom: 20px;
	}
	#breakdown_element h3{
		font-size: 16pt;
		font-style: italic;
		font-weight: bold;
	}
	#breakdown_element h4{
		font-size: 	14pt;
	}
	#breakdown_element p{
		font-size: 12pt;
	}

	/*Contact*/
	#contact h2 {
		font: normal normal 16pt Verdana, Geneva, sans-serif;
	}

	/*Resume*/
	#resumeWrapper{
		width: 85%;
		padding: 50px 0px;
	}
	#resumeTable {
		width: 90%;
		margin: 0 auto;
	}
	#resume {
		width: 90%;
	}
}
